[Unit]
Description=Post installation instructions
Requires=postfix.service
After=postfix.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/arch-linux-server/scripts/post-installation.sh

[Install]
WantedBy=multi-user.target
